/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------CODE WRITTEN------------- */
body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.TheHeader h1 {
	font-size: 10em;
	color: white;
	text-align: center;
	background-image: url(../images/apple-pie.jpg);
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	height: 950px;
	padding-top: 600px;
	position: relative;
}
.Paragraph {
font-size: 4em;
font-weight: lighter;
padding: 100px 200px;
line-height: 1.2;
}
.ImageOne {
	height: 150px;
	padding: 60px 750px 0;
}
hr {
	margin: 2% 12% 2% 8%;
	height: 4px;
	background-color: grey;
}
.ImageTwo {
	height: 150px;
	padding: 60px 900px 0;
}
h2 {
	font-size: 4em;
	padding: 0 200px;
}
ol {
	font-size: 3em;
	padding: 50px 230px;
	font-weight: lighter;
	line-height: 1.3;
}
#ListOne li::before{
	content:'- ';
}
#ListTwo {
	margin-bottom: 150px;
	}
#ListTwo li{
	counter-increment: ordered-list-item;
}
#ListTwo li::before{
	content: counter(ordered-list-item)') ';
}
